{% extends "fuzolo/base_new.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>About|FUZOLO</title>
</head>
<body>

    <div class="about-us-first">
        <div class="about-us-text about-us-section">
          <h1>About Us</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
            delectus. ore voluptatem, cum neque, eveniet magni corrupti ex saepe
            optio exercitationem ipsam? Quis dolores necessitatibus, at laudantium
            consectetur non!ˀ
          </p>
        </div>
        <div class="about-us-img">
          <img src="{% static 'images/about2.png' %}" alt="" />
        </div>
        <p></p>
      </div>
  
  
      <div class="about-us-first about-us-second">
          <div class="about-us-text about-us-section">
            <h1>Why Us?</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
              delectus. ore voluptatem, cum neque, eveniet magni corrupti ex saepe
              optio exercitationem ipsam? Quis dolores necessitatibus, at laudantium
              consectetur non!ˀ
            </p>
          </div>
          <div class="about-us-img">
            <img src="{% static 'images/about.png' %}" alt="" />
          </div>
          <p></p>
        </div>

</body>
</html>

{% endblock content %}



   