{% extends "fuzolo/base_new.html" %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact|FUZOLO</title>
</head>
<body>

    <div class="contact-container">
        <h1>Contact US</h1>

        <div class="contact-form">
          <div class="contact-form-img">
            <img src="{% static 'images/download.svg' %}" />
          </div>
          <div class="contact-form-inputs">
            <form name="myform" method="POST">
              {% csrf_token %}
              <input type="email" name="email" placeholder="Email" required/>
              <textarea
              name="message"
              id=""
              cols="30"
              rows="10"
              placeholder="Message"
              required></textarea>
              <button type="submit"  class="start-now-btn">Submit</button>
            </form>
          </div>
        </div>
      </div>
</body>
</html>

{% endblock %}